BOT_TOKEN=TOKEN_FROM_BOTFATHER
ADMIN_ID=TELEGRAM_ID
ENCRYPTION_KEY=AES_ENCRYPTION_KEY

PANEL_1_HOST=HOST_1
PANEL_1_URL=URL_1
PANEL_1_USER=USERNAME_1
PANEL_1_PASS=PASSWORD_1

PANEL_2_HOST=HOST_2
PANEL_2_URL=URL_2
PANEL_2_USER=USERNAME_2
PANEL_2_PASS=PASSWORD_2

PANEL_3_HOST=HOST_3
PANEL_3_URL=URL_3
PANEL_3_USER=USERNAME_3
PANEL_3_PASS=PASSWORD_3

PAYMENT_PHONE=+7 (000) 000-00-00

METRICS_TOKEN=TOKEN_FOR_METRICS

REDIS_PASSWORD=PASSWORD_FOR_REDIS